{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {

    if ( window.location.href.indexOf('#') == -1 ) {
        $('#getorg').hide();
        $('body').children().css('visibility','hidden');
        $('#logoport').css('visibility','visible').fadeIn('slow');
        setTimeout(function() {
            $('body').children().css('visibility','visible').fadeIn('slow');
            $('#getorg').show('slow');
            $('#logoport').hide('slow');
            $('#whoareyou').focus();
            $('body').scrollTop( 0 );
        }, 1000);
    }

    var orgs = {{orgs|safe}};
    $('#whoareyou').autocomplete({
        'source':orgs,
        'minLength':0,  
        'select': function( event, ui ) {
            window.location = '/organisation/' + ui.item.value;
            return false;
        }
    });
    
    var clicklogo = function(event) {
        event.preventDefault();
        $('#whoareyou').val($(this).attr('href').replace('.png','').replace(/_/g,' '));
        $("#whoareyou").focus().trigger('keydown');
    }
    $('.clicklogo').bind('click',clicklogo);
    
    $('#am-container').montage({
        liquid: true,
        fillLastRow: false,
        fixedHeight:80
    });


});
</script>




    <div class="row" style="margin-bottom:60px;" id="logoport">
        <div class="span12">
            <img src="/static/g4he_logo_+text.jpg" class="g4he" alt="">
        </div>
    </div>


    <div class="container marketing">

      <div id="getorg" style="margin-bottom:100px;">
      <!-- Org search bar -->
      <div class="row" style="margin-top:30px;margin-bottom:20px;">
        <div class="span12">
            <div class="clearfix">
            <input type="text" name="whoareyou" id="whoareyou">
            </div>
            <div class="am-container" id="am-container" style="width:100%;">
            {% for logo in logos %}
                <a href="{{logo}}" class="clicklogo thumbnail" style="float:left;">
                    <img src="/static/logos/{{logo}}" class="img" style="background-color:white;max-width:250px;overflow:hidden;">
                </a>
            {% endfor %}
            </div>
        </div>
      </div>
      
      <div class="row">
        <div class="span4 market">
            <div class="thumbnail" style="height:139px;">
                <p class="lead" style="font-weight:bold;">Search for your organisation by typing the name 
                above, then selecting from the dropdown list options, and 
                we will have a quick look to see what information we have available.</p>
            </div>
        </div>
        <div class="span4 market marketing-first">
            <h2>Explore research data</h2>
            <p>Check out what research is going on, find out about the funding, and take a look at the outcomes. Visualise 
            your own research projects and relationships and learn more about your community</p>
        </div>
        <div class="span4 market marketing-second">
            <h2>Make research easier</h2>
            <p>Get some value out of all your research admin responsibilities &mdash; find out how good the public data 
            about your research is, see who you should be collaborating with, and benchmark your successes.</p>
        </div>

      </div><!-- /.row -->

      </div><!-- getorg-->



      <hr class="featurette-divider"></hr>

      <a name="about"></a>
      <div class="featurette">
        <h2 class="featurette-heading">About the project. <span class="muted">Where we came from.</span></h2>
        
        <p class="lead">G4HE was a <a href="http://jisc.ac.uk">Jisc</a> project with the 
        aim of improving information exchange between Higher Education Institutions and Research Councils, 
        by giving something useful in return for all the effort that goes into creating, maintaining, and collecting this research data.</p>

        <p class="lead">We decided what this service should do by asking people what sorts of things they needed, 
        and by working out how we could prove there was a demonstrable value in doing so. If there is something 
        else you would like to be able to do with research data, or if you don't think we have properly met our community needs, 
        then please <a href="#contact">contact us</a>. We are also developing recommendations for how to 
        improve the administrative and technical aspects of the task of harvesting research data, so now is your 
        chance to have a say.</p>
                
        <p class="lead">We use the BIS-funded <a href="http://www.rcuk.ac.uk">RCUK</a> 
        <a href="http://gtr.rcuk.ac.uk">Gateway to Research</a> API to retrieve the data they 
        collect from institutional research management systems like Research Fish and ROS. Also, we are working 
        with a range of institutions and research community groups to collect further feedback for guiding the 
        development of our service. <a href="#contact">Get in touch</a> if you would like to be involved.</p>
      </div>


      <hr class="featurette-divider"></hr>

      <a name="contact"></a>
      <div class="featurette">
        <h2 class="featurette-heading">Contact us. <span class="muted">Get involved.</span></h2>
        
        <p class="lead">This is quite a new service, and we would love to hear from you if 
        you want to tell us something about our service or to get involved.</p>

        <p class="lead">There is an open <a href="">google group</a> that you can join for discussion and feedback.<br>
        Also we have a testing group - if you want to join it
        <a href="mailto:us@cottagelabs.com">let us know</a>.</p>

        <p class="lead">And there is the <a href="http://github.com/g4he/g4he">code repository</a>, 
        all the stuff we have written to make this work - visit the 
        <a href="http://github.com/g4he/g4he/issues">issue tracker</a> if you want to point out a problem.</p>
        
        <p class="lead">Check out the old <a href="http://g4he.wordpress.com">blog</a> for information 
        about the Jisc project that this service was developed as a part of.</p>
        
      </div>

      <hr class="featurette-divider"></hr>


    </div><!-- /.container -->

{% endblock %}
