{% extends "base.html" %}

{% block content %}

    <!-- launch graphview -->
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        var target = 'http://test.cottagelabs.com:9200/g4he2/record/_search';
    
        $('#graph').css({"height":$(window).height() - 5});
        $('#graph').graphview({
            "target": target,
            "pushstate": false,
            "titlefield": "project.title.exact",
            "defaultquery": {
                "query": {
                    "bool": {
                        "must":[]
                    }
                },
                "from":0,
                "size":100,
                "fields":[
                    "leadRo.name.exact",
                    "collaboratorOrganisation.canonical.exact",
                    "primaryFunder.name.exact",
                    "projectPartner.name.exact",
                    "collaboratorPerson.person.surname.exact",
                    "project.status.exact",
                    "project.output.researchMaterialOutput.impact.exact",
                    "project.output.productOutput.impact.exact",
                    "project.title.exact",
                    "project.grantReference.exact",
                    "project.grantCategory.exact",
                    'project.publication.title.exact'
                ],
                "facets":{
                    "lead organisations": {"term":{"field":"leadRo.name.exact","suggest": true}},
                    "collaborators": {"term":{'field':'collaboratorOrganisation.canonical.exact', "node": true, "suggest": true}},
                    "funders": {"term":{'field':'primaryFunder.name.exact', "node": true, "suggest": true}},
                    "project partners": {"term":{"field":"projectPartner.name.exact","node": true, "suggest": true}},
                    "people": {"term":{"field":"collaboratorPerson.person.surname.exact","node": true, "suggest": true}},
                    "status": {"term":{"field":"project.status.exact","suggest": true}},
                    "research impact": {"term":{"field":"project.output.researchMaterialOutput.impact.exact","node":true, "suggest": true}},
                    "product impact": {"term":{"field":"project.output.productOutput.impact.exact","node":true, "suggest": true}},
                    "project title": {"term":{"field":"project.title.exact","suggest": true}},
                    "grant reference": {"term":{"field":"project.grantReference.exact","suggest": true}},
                    "grant category": {"term":{"field":"project.grantCategory.exact","suggest": true}},
                    "publications": {"term":{'field':'project.publication.title.exact', "suggest": false, "node": true}}
                }
            },
            "nodesize": 100,
            "focusdepth": 1
        });
        
        // launch customised graphview on the G4HE explorer
        $('#explorer').graphview({
            "target": target,
            "defaultquery": {
                "query": {
                    "bool": {
                        "must":[]
                    }
                },
                "fields":[
                    "leadRo.name.exact",
                    "collaboratorOrganisation.canonical.exact",
                    "primaryFunder.name.exact",
                    "projectPartner.name.exact",
                    "collaboratorPerson.person.surname.exact",
                    "project.status.exact",
                    "project.output.researchMaterialOutput.impact.exact",
                    "project.output.productOutput.impact.exact",
                    "project.title.exact",
                    "project.grantReference.exact",
                    "project.grantCategory.exact",
                    'project.publication.title.exact'
                ],
                "facets":{
                }
            },
            "showresults": function(data) {
            },
            "afterresults": function() {
            },
            "uitemplate": function() {
                return "";
            },
            "uibindings": function() {
                var orgs = {{orgs|safe}};
                $('#whoareyou').autocomplete({
                    'source':orgs,
                    'minLength':0,  
                    'select': function( event, ui ) {
                        $("#whoareyou").val( ui.item.value );
                        $("#orgid").val( ui.item.value ).trigger('change');
                        return false;
                    }
                });
                $('.explorer-dropdown').parent().css({
                    "width":"100%",
                    "font-size": "26px",
                    "width": "100%",
                    "margin":"12px 0 12px 0",
                });
                $('#orgid').bind('change',$('#explorer').graphview.options.executequery);
            },
            "executequery": function() {
                $('#orgid').val().length ? $('#explorer').html('<img class="graphview-loading img thumbnail" src="loading.gif">') : false;
                var qry = {
                    "query": {
                        "term": {
                            "collaboratorOrganisation.canonical.exact": $('#orgid').val()
                        }
                    },
                    "size": 0,
                    "facets": {
                        "collaborators":{
                            "terms_stats" : {
                                "key_field" : "collaboratorOrganisation.canonical.exact",
                                "value_field" : "project.fund.valuePounds",
                                "size" : 0
                            }
                        },
                        "value_stats" : {
                            "statistical" : {
                                "field" : "project.fund.valuePounds"
                            }
                        }
                    }
                };
                var ajaxopts = {
                    url: target + '?source=' + JSON.stringify(qry),
                    contentType: "application/json; charset=utf-8",
                    type: 'GET',
                    dataType: 'JSONP',
                    success: $('#explorer').graphview.options.showresults
                };
                $.ajax(ajaxopts);
            },
            "showresults": function(data) {
                // put the response data in the response option
                data ? $('#explorer').graphview.options.response = data : false;
                var org = $('#orgid').val();

                var logo = org.toLowerCase().replace(/\s/g,'_').replace("'",'').replace('university_','').replace('_university','').replace('_of','').replace('of_','').replace('_the','').replace('_the','').replace('_and','').replace('and_','').replace('_.','.') + '.png';
                
                var img = '<img class="img thumbnail" src="/static/logos/' + logo + '" style="width:487px;margin-left:30px;">';
                
                for ( var i=0; i < data.hits.hits.length; i++ ) {
                    total += data.hits.hits[i].fields['project.fund.valuePounds'];
                }
                
                var info = '<p class="lead">We have found ' + data.hits.total + ' projects involving<br>' + org + '</p>';
                info += '<p class="lead">Which are worth a total of £' + data.facets.value_stats.total + '</p>';
                info += '<p class="lead">And which involve ' + (data.facets.collaborators.terms.length - 1) + ' collaborators</p>';
                
                info += '<p><br><a style="width:400px;" class="btn btn-info" href="/organisation/' + org + '/collaboration">Build a report and discover the value of your collaborations</a></p>';
                info += '<p><a style="width:400px;" class="btn showvis" data-visthis="' + org + '" href="#">Visualise and explore your collaboration network</a></p>';
                
                if ( org.length ) {
                    $('#explorer').html(img);
                    $('#thisiswhoyouare').html(info);
                    $('.showvis').unbind('click',showvis).bind('click',showvis);
                }
            }
        });
        
        var showvis = function(event) {
            // reset carousel to network view
            $('#myCarousel').carousel(0);
            $('#myCarousel').carousel('pause');
            // add the selected org from previous screen
            var searchval = $(this).attr('data-visthis');
            var selectdata = [{
                "text": searchval,
                "id": "collaboratorOrganisation.canonical.exact__________" + searchval
            }];
            $('.query_string').select2("data",selectdata);
            // check the collaborators box
            $('[data-field="collaboratorOrganisation.canonical.exact"]').attr('checked','checked');
            // trigger a search
            $('.query_string').trigger('change');
            // show some instructions
            if ( !$('#graphview_instructions').length ) {
                var instructions = '<div id="graphview_instructions" class="alert alert-block">';
                instructions += '<button type="button" class="close" data-dismiss="alert">&times;</button>';

                instructions += '<p>Explore research projects - those are the blue bubbles. Mouseover bubbles to see their names and highlight their links.</p>';
                instructions += '<p>Use the search bar at the top to find particular projects - and use the dropdown to the left of it to choose what sorts of suggestions you want - e.g. collaborators, people.</p>';
                instructions += '<p>Default view is the first 100 projects, use the "from" and "to" values under the search bar to view different batches - changing the "from" value auto-adjust the "to" value, and changing the "to" value can be used to increase the number on display.</p>';
                instructions += '<p>Select what other objects you want to visualise using the checkboxes - and note size options become available for those too.</p>';
                instructions += '<p>Mouseover and click-and-hold to quickly drag any bubble into the search bar to add it to the query.</p>';
                instructions += '<p>Click-and-hold the white background to navigate around the visualisation. Mouse-scroll / double-click to zoom in / out.</p>'
                instructions += '<p>NOTE: although you can increase the number of bubbles visible on the screen, doing so will slow down the visualisation; More than a couple of thousand on a laptop may get unresponsive.</p>';
                instructions += '<p>This is still a work in progress - it provides a visual representation to allow a high-level overview and exploration of your research collaborations, but of course does not provide much in the way of detail. Have fun exploring, and please check back in future for further functionality such as detailed reports.</p>';
                instructions += '<p>(If it all stops working, just refresh the page :) Enjoy!</p>';

                instructions += '</div>';
                $('#graph').append(instructions);
            }
        }
        $('.showvis').bind('click',showvis);
        var showtitle = function(event) {
            $('#myCarousel').carousel(1);
            $('#myCarousel').carousel('pause');
        }
        $('.showtitle').bind('click',showtitle);
        var showexplore = function(event) {
            $('#myCarousel').carousel(2);
            $('#myCarousel').carousel('pause');
        }
        $('.showexplore').bind('click',showexplore);

    });


    // script for bootstrap carousel
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel();
          $('#myCarousel').carousel('next');
          $('#myCarousel').carousel('pause');
        })
      }(window.jQuery);
    </script>







    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <div id="graph" style="width:100%;"></div>
        </div>
        <div class="item">
          <img src="/static/g4he_logo_+text.jpg" class="g4he" alt="">
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <input type="hidden" name="orgid" id="orgid">
                        <input type="text" name="whoareyou" id="whoareyou">
                        <div class="well" id="thisiswhoyouare" style="height:258px;">
                            <p class="lead">Search for your organisation name above.</p>
                            <p class="lead">Find your organisation and we will have a quick look to see 
                            what information we have about you.</p>
                            <p class="lead">Then we will see what we can find out about your research 
                            areas, projects, and collaborations.</p>
                        </div>
                    </div>
                    <div class="span6">
                        <div id="explorer" style="padding-left:40px;">
                            <img class="img thumbnail" src="/static/g4he_logo_greyscale.jpg" style="height:490px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!--
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      -->
    </div><!-- /.carousel -->




    <a name="about"></a>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top:30px;">
        <div class="span4 marketing-first">
          <h2>Explore research data</h2>
          <p>Check out what research is going on, find out about the funding, and take a look at the outcomes. Visualise 
          your own research projects and relationships and learn more about your community</p>
        </div><!-- /.span4 -->
        <div class="span4 marketing-second">
          <h2>Make research easier</h2>
          <p>Get some value out of all your research admin responsibilities &mdash; find out how good the public data 
          about your research is, see who you should be collaborating with, and benchmark your successes.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img thumbnail" src="/static/partner_logos.jpg" style="height:140px;">
        </div><!-- /.span4 -->
      </div><!-- /.row -->



      <div class="featurette">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th><h2 class="featurette-heading">Things you need to do</h2></th>
                    <th style="width:50%;"><h2 class="featurette-heading"><span class="muted">How G4HE will help</span></h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Report to senior management about key collaborations within our grant portfolio, so we can identify institutions with whom to build partnerships.</td>
                    <td>Yep - we can currently show you how many collaborators you have and what the total value of projects is. Much more in-depth collaboration reporting is coming very soon.</td>
                </tr>
                <tr>
                    <td>See who we are collaborating with in particular fields, and find other institutions in the same field that we are not already collaborating with.</td>
                    <td>Indeed - coming soon.</td>
                </tr>
                <tr>
                    <td>See number and value of collaborations with commercial partners to get an idea of the value and extent of our knowledge transfer activities - which is useful for internal and external (e.g. HE-BCI) reporting.</td>
                    <td>Sure, why not - we wil help you identify commercial partners then we can put a value to these activities.</td>
                </tr>
                <tr>
                    <td>Benchmark funding awarded between groups of researchers at my institution with groups at other institutions to ensure that we are performing at the expected level.</td>
                    <td>Nearly there... this will come after we finish the collaborations work.</td>
                </tr>
                <tr>
                    <td>see how much a department has brought in because it helps me show the success of our research groups</td>
                    <td>Not a problem - define your departments and we will help you work this out.</td>
                </tr>
                <tr>
                    <td></td>
                    <td><p style="font-size:20px;"><strong>Sound good? <a class="showexplore" href="#">Try it out</a></strong></p></td>
                </tr>
            </tbody>
        </table>
        
      </div>


      <div class="featurette">
        <h2 class="featurette-heading">About the project. <span class="muted">Where we came from.</span></h2>
        
        <p class="lead">G4HE is a <a href="http://jisc.ac.uk">Jisc</a> project with the 
        aim of improving information exchange between Higher Education Institutions and Research Councils, 
        by giving something useful in return for all the effort that goes into creating, maintaining, and collecting this research data.</p>

        <p class="lead">We decided what this service should do by asking people what sorts of things they needed, 
        and by working out how we could prove there was a demonstrable value in doing so. If there is something 
        else you would like to be able to do with research data, or if you don't think we have properly met our community needs, 
        then please <a href="#contact">contact us</a>. We are also developing recommendations for how to 
        improve the administrative and technical aspects of the task of harvesting research data, so now is your 
        chance to have a say.</p>
                
        <p class="lead">We use the BIS-funded <a href="http://www.rcuk.ac.uk">RCUK</a> 
        <a href="http://gtr.rcuk.ac.uk">Gateway to Research</a> API to retrieve the data they 
        collect from institutional research management systems like Research Fish and ROS. Also, we are working 
        with a range of institutions and research community groups to collect further feedback for guiding the 
        development of our service. <a href="#contact">Get in touch</a> if you would like to be involved.</p>
      </div>


      <hr class="featurette-divider"></hr>

      <a name="contact"></a>
      <div class="featurette">
        <h2 class="featurette-heading">Contact us. <span class="muted">Get involved.</span></h2>
        
        <p class="lead">We are quite a new project, and we would love to hear from you if 
        you want to tell us something about our service or to get involved. Check out our 
        <a href="http://g4he.wordpress.com">project blog</a> for more information.</p>

        <p class="lead">There is an open <a href="">google group</a> that you can join for discussion and feedback.<br>
        Also we have a testing group - if you want to join it
        <a href="mailto:bex@cottagelabs.com">let us know</a>.</p>
        
        <p class="lead">And there is the <a href="http://github.com/g4he/g4he">code repository</a>, 
        all the stuff we have written to make this work - visit the 
        <a href="http://github.com/g4he/g4he/issues">issue tracker</a> if you want to point out a problem.</p>
      </div>

      <hr class="featurette-divider"></hr>


    </div><!-- /.container -->

{% endblock %}
