{% extends "base.html" %}

{% block content %}

<script type="text/javascript">

$(document).ready(function() {
    
    function generateReport(data) {
        
        // get a full list of the dates and process the rows for each organisation
        var dates = []
        var orgs = []
        var row_sets = {}
        for (var org in data) {
            orgs.push(org)
            var org_rows = {}
            for (var i = 0; i < data[org].length; i++) {
                var p = data[org][i]
                if ($.inArray(p.time, dates) === -1) {
                    dates.push(p.time)
                }
                org_rows[p.time] = [p.count, p.total]
            }
            row_sets[org] = org_rows
        }
        
        // for each date (sorted) create a row with the relevant data from each org
        dates.sort()
        orgs.sort()
        rows = []
        for (var i = 0; i < dates.length; i++) {
            row = []
            row.push($.datepicker.formatDate("M yy", new Date(dates[i])))
            for (var j = 0; j < orgs.length; j++) {
                if (dates[i] in row_sets[orgs[j]]) {
                    row.push(row_sets[orgs[j]][dates[i]][0])
                    row.push(row_sets[orgs[j]][dates[i]][1])
                }
                else {
                    row.push("-")
                    row.push("-")
                }
            }
            rows.push(row)
        }
        
        var table = "<table id='report_table'><thead><th>Date</th>"
        for (var i = 0; i < orgs.length; i++) {
            table += "<th>" + orgs[i] + ": Project Count</th>"
            table += "<th>" + orgs[i] + ": Total Awarded</th>"
        }
        table += "</thead><tbody>"
        for (var i = 0; i < rows.length; i++) {
            table += "<tr>"
            for (var j = 0; j < rows[i].length; j++) {
                table += "<td>" + rows[i][j] + "</td>"
            }
            table += "</tr>"
        }
        table += "</tbody></table>"
        $("#report").html(table)
        $("#report_table").tablesorter()
        
        
        //var table = "<table id='report_table'><thead><tr><th>Date</th><th>Number of Projects</th><th>Award Value</th></tr></thead><tbody>"
        //var entries = data['facets']['award_values']['entries']
        //for (var i = 0; i < entries.length; i++) {
        //    table += "<tr>"
        //    
        //    var d = new Date(entries[i].time)
        //    table += "<td>" + $.datepicker.formatDate("M y", d) + "</td>"
        //    
        //    var count = entries[i].count
        //    table += "<td>" + count + "</td>"
        //    
        //    var value = entries[i].total
        //    table += "<td>" + value + "</td>"
        //    
        //    table += "</tr>"
        //}
        //table += "</tbody></table>"
        //$("#report").html(table)
        //$("#report_table").tablesorter()
    }
    
    $("#generate").click(function() {
    
        var obj = {};
        obj["mainorg"] = "{{mainorg}}";
        obj["type"] = "award_value";
        obj["granularity"] = "quarter"
        obj["compare_org"] = [$("#compare_to").val()]
        
        $.ajax({
            type: "POST",
            url: "/organisation/{{mainorg}}/benchmarking",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(obj),
            success : generateReport
        })
    }); 
    
    $("#compare_to").select2({
        minimumInputLength: 3,
        placeholder: "select an organisation to compare yourself with",
        query: function (query) {
            $.ajax({
                type : "GET",
                data : {q : query.term},
                dataType: "json",
                url: "/organisation",
                success: function(resp) {
                    var data = {results: []}
                    for (var i = 0; i < resp.length; i++) {
                        data.results.push({id : resp[i].term, text: resp[i].term + " - " + resp[i].count + " projects"})
                    }
                    query.callback(data);
                }
            })
        }
    });
    
});

</script>

<h1>Benchmarking Report for {{ mainorg }}</h1>

<div class="row-fluid">
    
<input type="text" name="compare_to" id="compare_to">

<button id="generate">Generate!</button>

</div>

<div id="report"></div>

{% endblock %}
