{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    
    /////////////////////////////////////////////////////////////////////////
    
    // generic graphing functions
    
    function doGraph(params) {
        var data = params.data
        var limit = params.limit ? params.limit : data.length
        var label_field = params.label_field
        var value_field = params.value_field
        var name = params["name"]
        var selector = params.svg_selector
        var colour = params.colour
        
        
        
        var datums = []
        var bars = {"key" : name, "color" : colour, "values" : []}
        
        for (var i = 0; i < data.length && i < limit; i++) {
            var point = {}
            point["label"] = data[i][label_field]
            point["value"] = data[i][value_field]
            bars.values.push(point)
        }
        datums.push(bars)
        
        var height = (28 * limit) + 42 + 43
        $(selector).css("height", height + "px")
        
        // generate the graph
        nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
              .x(function(d) { return d.label })
              .y(function(d) { return d.value })
              .margin({top: 30, right: 100, bottom: 50, left: 175})
              .showValues(false)
              .tooltips(true)
              .showControls(false);

            chart.yAxis
              .tickFormat(d3.format(',.0f'));

            d3.select(selector)
              .datum(datums)
              .transition().duration(500)
              .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    }
    
    ///////////////////////////////////////////////////////////////////
    
    ///////////////////////////////////////////////////////////////////
    // collaborator table and graph
    
    // once the page has loaded, we'll store all the collaborator data here, so
    // we don't need to re-fetch it each time the widget's parameters are changed
    var collaborations_cache = undefined;
    
    // generate the top list of collaborators
    function topCollaborators(count) {
        var obj = {"count" : count};
        $.ajax({
            type: "GET",
            url: "/organisation/{{mainorg}}/collaboration/top",
            dataType: "json",
            data: obj,
            success : generateCollaboratorDash
        })
    }
    
    function generateTopCollaboratorsGraph(data, limit) {
        // generate the default graph
        doGraph({
            data: data, 
            limit: limit, 
            label_field : "term", 
            value_field: "count", 
            name : "Project Count",
            svg_selector : "#collaboration_highlight_graph_container svg",
            colour : "#6C3BFF"
        })
        
        // now add the graph controls
        var frag = "<input type='radio' name='collab_graph_type' value='projects' checked='checked' id='project_button'>&nbsp;Project Count&nbsp;&nbsp;&nbsp;&nbsp;"
        frag += "<input type='radio' name='collab_graph_type' value='funding' id='funding_button'>&nbsp;Collaboration Funding"
        $("#collab_graph_controls").html(frag);
        
        $("#project_button").change(function() {
            if (!$(this).attr("checked")) { return }
            var limit = $("select[name=collaboration_highlight_count]").val()
            doGraph({
                data: collaborations_cache, 
                limit: limit, 
                label_field: "term", 
                value_field: "count", 
                name: "Project Count",
                svg_selector : "#collaboration_highlight_graph_container svg",
                colour : "#6C3BFF"
            })
        })
        
        $("#funding_button").change(function() {
            if (!$(this).attr("checked")) { return }
            var limit = $("select[name=collaboration_highlight_count]").val()
            doGraph({
                data: collaborations_cache, 
                limit: limit, 
                label_field: "term", 
                value_field: "total", 
                name: "Collaboration Funding",
                svg_selector : "#collaboration_highlight_graph_container svg",
                colour : "#6C3BFF"
            })
        })
    }
    
    function generateTopCollaboratorsTable(data, limit) {
        var frag = '<table id="collaboration_highlight_table" class="tablesorter"> \
            <thead> \
                <tr> \
                    <th>Organisation</th> \
                    <th>Projects Collaborated on</th> \
                    <th>Total Funding for Collaboration</th> \
                </tr> \
            </thead> \
            <tbody>'
        
        for (var i = 0; i < data.length && i < limit; i++) {
            frag += '<tr>'
            frag += '<td><a href="' + getReportUrl({add_orgs : [data[i].term]}) + '" class="highlighturl" data-add-orgs="' + data[i].term + '">' + data[i].term + "</a></td>"
            frag += "<td>" + data[i].count + "</td>"
            frag += "<td>£" + data[i].formatted_total + "</td>"
            frag += "</tr>"
        }
        
        frag += "</tbody></table>"
        
        var help = "<p>Click on an organisation to see the projects you collaborated with them on and who the other collaborators were.  Or, select an organisation from the " +
                    "pull-down menu on the right to be taken to the report.</p>"
        
        var csv = '<div class="row-fluid"> \
                    <div class="span12" style="text-align: right"><a href="/organisation/{{mainorg}}/collaboration/top.csv">download full csv</a></div> \
                </div>'
        
        $("#collaboration_highlight_table_container").html(help + csv + frag);
        $("#collaboration_highlight_table").tablesorter()
        
        // re-initialise the highlight url handling
        $(".highlighturl").unbind()
        $(".highlighturl").click(highlightUrlClick)
    }
    
    function generateFullCollaboratorsPullDown(data) {
        var frag = "<option value=''>Select a collaborator....</option>"
        
        for (var i = 0; i < data.length; i++) {
            var plural = data[i].count > 1 ? "s" : ""
            frag += "<option value='" + data[i].term + "'>" + data[i].term + 
                    "&nbsp;&mdash;&nbsp;" + data[i].count + " project" + plural + " totalling £" + 
                    data[i].formatted_total + "</option>"
        }
        $("select[name=highlight_collab]").html(frag)
        
        $("#view_report_button_collab").removeAttr("disabled")
    }
    
    function generateCollaboratorDash(data) {
        // remember the data
        collaborations_cache = data
        
        // figure out how many collaborators we want in the table and graph
        var limit = $("select[name=collaboration_highlight_count]").val()
        generateTopCollaboratorsTable(data, limit)
        generateTopCollaboratorsGraph(data, limit)
        generateFullCollaboratorsPullDown(data)
    }
    
    // actually generate the collaborators list
    topCollaborators(0)
    
    $("select[name=collaboration_highlight_count]").change(function() {
        var count = $(this).val()
        generateTopCollaboratorsTable(collaborations_cache, count)
        generateTopCollaboratorsGraph(collaborations_cache, count)
    })
    
    ///////////////////////////////////////////////////////////////////
    
    ///////////////////////////////////////////////////////////////////
    // funder table and graph
    
    var funder_cache = undefined;
    
    function funders() {
        $.ajax({
            type: "GET",
            url: "/organisation/{{mainorg}}/collaboration/funders",
            dataType: "json",
            success : generateFunders
        })
    }
    
    function generateFunderGraph(data) {
        // generate the default graph
        doGraph({
            data: data,
            label_field : "term", 
            value_field: "count", 
            name : "Projects Funded",
            svg_selector : "#funder_highlight_graph_container svg",
            colour : "#6C3BFF"
        })
        
        // now add the graph controls
        var frag = "<input type='radio' name='funder_graph_type' value='projects' checked='checked' id='funder_project_button'>&nbsp;Projects Funded&nbsp;&nbsp;&nbsp;&nbsp;"
        frag += "<input type='radio' name='funder_graph_type' value='funding' id='funder_funding_button'>&nbsp;Total Funding for Collaborations"
        $("#funder_graph_controls").html(frag);
        
        $("#funder_project_button").change(function() {
            if (!$(this).attr("checked")) { return }
            doGraph({
                data: funder_cache, 
                label_field: "term", 
                value_field: "count", 
                name: "Projects Funded",
                svg_selector : "#funder_highlight_graph_container svg",
                colour : "#6C3BFF"
            })
        })
        
        $("#funder_funding_button").change(function() {
            if (!$(this).attr("checked")) { return }
            doGraph({
                data: funder_cache, 
                label_field: "term", 
                value_field: "total", 
                name: "Total Funding for Collaborations",
                svg_selector : "#funder_highlight_graph_container svg",
                colour : "#6C3BFF"
            })
        })
    }
    
    // FIXME: this is basically the same as the collaboration table, so may consider
    // combining them into a generic function
    // though note that although they are similar, they have some fundamental differences
    // which may be difficult to abstract
    function generateFunderTable(data) {
        var frag = '<table id="funder_highlight_table" class="tablesorter"> \
            <thead> \
                <tr> \
                    <th>Funder</th> \
                    <th>Collaborative Projects Funded</th> \
                    <th>Total Funding for Collaborative Projects</th> \
                </tr> \
            </thead> \
            <tbody>'
        
        for (var i = 0; i < data.length; i++) {
            frag += '<tr>'
            frag += '<td><a href="' + getReportUrl({add_funder : data[i].term}) + '" class="highlighturl" data-add-funder="' + data[i].term + '">' + data[i].term + "</a></td>"
            frag += "<td>" + data[i].count + "</td>"
            frag += "<td>£" + data[i].formatted_total + "</td>"
            frag += "</tr>"
        }
        
        frag += "</tbody></table>"
        
        var help = "<p>Click on the funder name to see projects they funded and your collaborators where you collaborated with one or more organisations.  Or, " +
                    "select a funder from the pull-down on the right to be taken to the report</p>"
        
        var csv = '<div class="row-fluid"> \
                    <div class="span12" style="text-align: right"><a href="/organisation/{{mainorg}}/collaboration/funders.csv">download full csv</a></div> \
                </div>'
        
        $("#funder_highlight_table_container").html(help + csv + frag);
        $("#funder_highlight_table").tablesorter()
        
        // re-initialise the highlight url handling
        $(".highlighturl").unbind()
        $(".highlighturl").click(highlightUrlClick)
    }
    
    function generateFundersPullDown(data) {
        var frag = "<option value=''>Select a funder....</option>"
        
        for (var i = 0; i < data.length; i++) {
            var plural = data[i].count > 1 ? "s" : ""
            frag += "<option value='" + data[i].term + "'>" + data[i].term + 
                    "&nbsp;&mdash;&nbsp;" + data[i].count + " project" + plural + " totalling £" + 
                    data[i].formatted_total + "</option>"
        }
        $("select[name=highlight_funder]").html(frag)
        // $("select[name=funder]").append(options)
        
        $("#view_report_button_funder").removeAttr("disabled")
    }
    
    function generateFunders(data) {
        // remember the data
        funder_cache = data
        
        generateFunderTable(data)
        generateFunderGraph(data)
        generateFundersPullDown(data)
    }
    
    // actually generate the funders
    funders()
    
    ///////////////////////////////////////////////////////////////////
    
    ///////////////////////////////////////////////////////////////////
    
    // handling the hightlight & report urls and buttons
    
    function reportLoading() {
        // throw up the loading screen
        $("#report_container").html('<strong style="color: #cccccc; font-size: 150%; padding: 40px">Loading report...</strong>')
    }
    
    // this function resets the report to the highlight parameters, overwriting
    // any existing report parameters
    function highlightUrlClick(event) {
        event.preventDefault()
        
        add_orgs_list = $(this).attr("data-add-orgs")
        add_orgs = []
        if (add_orgs_list != null && add_orgs_list !== "") {
            add_orgs = add_orgs_list.split(",")
        }
        
        // see if there is a funder to add
        add_funder = $(this).attr("data-add-funder")
        
        // report shows only active projects
        d = new Date()
        ds = $.datepicker.formatDate("dd/mm/yy", d)
        
        setParameters({
            collab_orgs : add_orgs,
            funder : add_funder,
            start: ds
        })
        
        // we've set the parameters, some of which affect the report options
        // form, so we need to sync it
        synchroniseReportOptions()
        
        // ensure all the bits are on display
        $("#report_parameters").show();
        $("#report_controls").show();
        $("#report_container").show()
        
        fetchReport()
    }
    
    function reportUrlClick(event) {
        event.preventDefault()
        
        // determine if there are any orgs to exclude
        exclude_list = $(this).attr("data-exclude-orgs")
        exclude_orgs = []
        if (exclude_list != null && exclude_list !== "")
        {
            exclude_orgs = exclude_list.split(",")
        }
        
        // determine if we should omit the funder
        exclude_funder = $(this).attr("data-exclude-funder")
        
        // find out the format of the desired data
        // format = $(this).attr("data-format")
        
        // see if there are any orgs to add to the list of collaborators
        add_orgs_list = $(this).attr("data-add-orgs")
        add_orgs = []
        if (add_orgs_list != null && add_orgs_list !== "") {
            add_orgs = add_orgs_list.split(",")
        }
        
        // see if there is a funder to add
        add_funder = $(this).attr("data-add-funder")
        
        // now update the report parameters
        updateReportParams({
            exclude_orgs: exclude_orgs, 
            exclude_funder: exclude_funder, 
            add_orgs : add_orgs, 
            add_funder: add_funder
        })
        
        // ensure all the bits are on display
        $("#report_parameters").show();
        $("#report_controls").show();
        $("#report_container").show()
        
        fetchReport()
    }
    
    $("#view_report_button_collab").click(function(event) {
        event.preventDefault();
        var org = $("select[name=highlight_collab]").val()
        
        if (org === undefined || org === "") {
            return
        }
        
        // report shows only active projects
        d = new Date()
        ds = $.datepicker.formatDate("dd/mm/yy", d)
        
        setParameters({
            collab_orgs : [org],
            start: ds
        })
        
        // we've set the parameters, some of which affect the report options
        // form, so we need to sync it
        synchroniseReportOptions()
        
        // ensure all the bits are on display
        $("#report_parameters").show();
        $("#report_controls").show();
        $("#report_container").show()
        
        fetchReport()
    })
    
    $("#view_report_button_funder").click(function(event) {
        event.preventDefault();
        var funder = $("select[name=highlight_funder]").val()
        
        if (funder === undefined || funder === "") {
            return
        }
        
        // report shows only active projects
        d = new Date()
        ds = $.datepicker.formatDate("dd/mm/yy", d)
        
        setParameters({
            funder : funder,
            start: ds
        })
        
        // we've set the parameters, some of which affect the report options
        // form, so we need to sync it
        synchroniseReportOptions()
        
        // ensure all the bits are on display
        $("#report_parameters").show();
        $("#report_controls").show();
        $("#report_container").show()
        
        fetchReport()
    })
    
    $("#view_all_collaborations").click(function(event) {
        event.preventDefault()
        
        // ensure all the bits are on display
        $("#report_parameters").show();
        $("#report_controls").show();
        $("#report_container").show()
        
        // report shows only active projects
        d = new Date()
        ds = $.datepicker.formatDate("dd/mm/yy", d)
        
        setParameters({
            start: ds
        })
        
        // we've set the parameters, some of which affect the report options
        // form, so we need to sync it
        synchroniseReportOptions()
        
        fetchReport()
    })
    
    ////////////////////////////////////////////////////////////////////////////////
    
    //////////////////////////////////////////////////////////////////////////////
    
    // Report Options form handling
    
    $("#update_report_options").click(function(event) {
        event.preventDefault()
        
        param_patch = {}
        
        // extract the values from the form
        var lower = $("input[name=lower]").val()
        if (lower === "") { 
            param_patch["exclude_lower"] = true
        }
        else {
            param_patch["add_lower"] = lower
        }
        
        var upper = $("input[name=upper]").val()
        if (upper === "") {
            param_patch["exclude_upper"] = true
        }
        else {
            param_patch["add_upper"] = upper
        }
        
        var start = $("input[name=start]").val()
        if (start === "") { 
            param_patch["exclude_start"] = true
        }
        else {
            param_patch["add_start"] = start
        }
        
        var end = $("input[name=end]").val()
        if (end === "") { 
            param_patch["exclude_end"] = true
        }
        else {
            param_patch["add_end"] = end
        }
        
        var collab = $("select[name=collab]").val()
        if (collab && collab !== "") { 
            param_patch["add_orgs"] = [collab]
        }
        
        var funder = $("select[name=funder]").val()
        if (funder && funder !== "") { 
            param_patch["add_funder"] = funder
        }
        
        updateReportParams(param_patch)
        
        fetchReport()
    })
    
    $("#clear_dates").click(function(event) {
        event.preventDefault()
        $("input[name=start]").val("")
        $("input[name=start]").trigger("change")
        $("input[name=end]").val("")
        $("input[name=end]").trigger("change")
    })
    
    $(".highlightonfilled").change(function() {
        if ($(this).val() !== "") {
            $(this).css("border", "2px solid #348C49")
        }
        else {
            $(this).css("border", "1px solid #CCC")
        }
    })
    
    $("input[name=start]").change(function() {
        if ($(this).val() === "") {
            $("input[name=end]").datepicker("option", "defaultDate", 0)
        }
        else {
            var val = $(this).val()
            
            // get the 3 interesting dates: the date in the start box,
            // the date today, and the date 1 year after the start box
            var start = $.datepicker.parseDate("dd/mm/yy", val)
            var now = new Date()
            var future = new Date(start.getTime())
            future.setYear(future.getFullYear() + 1)
        
            var end = undefined
            if (now < future) {
                end = now
            }
            else {
                end = future
            }
            
            $("input[name=end]").datepicker("option", "defaultDate", end)
        }
    })
    
    $("select[name=date_shortcut]").change(function(event) {
        var val = $(this).val()
        if (val === "") {
            return
        }
        var now = new Date()
        if (val === "calendar_year") {
            now.setDate(1)
            now.setMonth(0) // month - 1 because of stupid zero indexing
        }
        else if (val === "academic_year") {
            var ay = new Date(now.getFullYear(), "08", "01") // month - 1 because of stupid zero indexing
            if (now < ay) {
                ay.setYear(ay.getFullYear() - 1)
            }
            now = ay
        }
        else if (val === "tax_year") {
            var fy = new Date(now.getFullYear(), "03", "01") // month - 1 because of stupid zero indexing
            if (now < fy) {
                fy.setYear(fy.getFullYear() - 1)
            }
            now = fy
        }
        var val = $.datepicker.formatDate("dd/mm/yy", now)
        $("input[name=start]").val(val)
        $("input[name=start]").trigger("change")
    })
    
    ///////////////////////////////////////////////////////////////////
    
    ///////////////////////////////////////////////////////////////////
    
    // handling the report arguments, urls and query parameters
    
    var report_parameters = {
        "mainorg" : "{{mainorg}}",
        "collab_orgs" : [],
        "funder": undefined,
        "start" : undefined,
        "end" : undefined,
        "upper" : undefined,
        "lower" : undefined
    }
    
    function setParameters(params) {
        var orgs = params.collab_orgs
        var funder = params.funder
        var start = params.start
        var end = params.end
        var upper = params.upper
        var lower = params.lower
        
        if (orgs) {
            report_parameters.collab_orgs = orgs
        }
        else {
            report_parameters.collab_orgs = []
        }
        
        if (funder) {
            report_parameters.funder = funder
        }
        else {
            report_parameters.funder = undefined
        }
        
        if (start) {
            report_parameters.start = start
        }
        else {
            report_parameters.start = undefined;
        }
        
        if (end) {
            report_parameters.end = end
        }
        else {
            report_parameters.end = undefined
        }
        
        if (upper) {
            report_parameters.upper = upper
        }
        else {
            report_parameters.upper = undefined
        }
        
        if (lower) {
            report_parameters.lower = lower
        }
        else {
            report_parameters.lower = undefined
        }
    }
    
    function patchParameters(patch) {
        // extract the parameters we are interested in
        var add_orgs = patch.add_orgs
        var exclude_orgs = patch.exclude_orgs
        var exclude_funder = patch.exclude_funder
        var format = patch.format
        var add_funder = patch.add_funder
        var add_start = patch.add_start
        var add_end = patch.add_end
        var add_lower = patch.add_lower
        var add_upper = patch.add_upper
        var exclude_start = patch.exclude_start
        var exclude_end = patch.exclude_end
        var exclude_lower = patch.exclude_lower
        var exclude_upper = patch.exclude_upper
        
        // clone the current report parameters
        var patchedParams = $.extend(true, {}, report_parameters);
        
        // the organisations to add to the list
        if (add_orgs) {
            for (var i = 0; i < add_orgs.length; i++) {
                var org = add_orgs[i]
                if ($.inArray(org, patchedParams.collab_orgs) === -1) {
                    patchedParams.collab_orgs.push(org)
                }
            }
        }
        
        // remove organisations from the list
        if (exclude_orgs) {
            var newOrgs = []
            for (var i = 0; i < patchedParams.collab_orgs.length; i++) {
                var org = patchedParams.collab_orgs[i]
                if ($.inArray(org, exclude_orgs) === -1) {
                    newOrgs.push(org)
                }
            }
            patchedParams.collab_orgs = newOrgs
        }
        
        // remove or add the funder if necessary
        if (exclude_funder) {
            patchedParams.funder = undefined;
        }
        else if (add_funder) {
            patchedParams.funder = add_funder
        }
        
        // the format is a URL extension, and not part of the standard report parameters
        // so we have to add an extra argument
        if (format) {
            patchedParams["format"] = format
        }
        
        if (add_start) {
            patchedParams.start = add_start
        }
        else if (exclude_start) {
            patchedParams.start = undefined
        }
        
        if (add_end) {
            patchedParams.end = add_end
        }
        else if (exclude_end) {
            patchedParams.end = undefined;
        }
        
        if (add_lower) {
            patchedParams.lower = add_lower
        }
        else if (exclude_lower) {
            patchedParams.lower = undefined;
        }
        
        if (add_upper) {
            patchedParams.upper = add_upper
        }
        else if (exclude_upper) {
            patchedParams.upper = undefined;
        }
        
        return patchedParams
    }
    
    function getReportUrl(params) {
        // patch the general parameters with the supplied patch parameters
        // (without overwriting the general parameters)
        var urlParams = patchParameters(params)
        
        // get the query arguments for the report
        var qargs = getQueryArgs(urlParams)
        
        // set the base url for the main organisation, using the shared report_parameters
        var baseurl = "/organisation/" + report_parameters.mainorg + "/collaboration"
        
        // now stitch all the bits together into a URL
        var q = "?"
        var first = true
        for (var arg in qargs) {
            if (!first) { q += "&" }
            q += arg + "=" + qargs[arg]
            first = false
        }
        
        return baseurl + q
    }
    
    function updateReportParams(params) {
        // clone and patch the existing parameters
        var updatedParams = patchParameters(params)
        
        // manual copy of each element back to the main report_parameters
        // variable (to avoid issues of scope, we can't just overwrite); also
        // this allows us to prevent the report parameters becoming accidentally
        // polluted or illegally modified
        report_parameters.collab_orgs = updatedParams.collab_orgs
        report_parameters.funder = updatedParams.funder
        report_parameters.start = updatedParams.start
        report_parameters.end = updatedParams.end
        report_parameters.upper = updatedParams.upper
        report_parameters.lower = updatedParams.lower
    }
    
    function getQueryArgs(params) {
        var args = {}
        
        // omit the mainorg - this is not in the query params
        //args["mainorg"] = params.mainorg
        
        if (params.funder) {
            args["funder"] = params.funder
        }
        if (params.start) {
            args["start"] = params.start
        }
        if (params.end) {
            args["end"] = params.end
        }
        if (params.upper) {
            args["upper"] = params.upper
        }
        if (params.lower) {
            args["lower"] = params.lower
        }
        
        if (params.collab_orgs.length > 0) {
            var orgs = ""
            for (var i = 0; i < params.collab_orgs.length; i++) {
                if (i > 0) {
                    orgs += ","
                }
                orgs += params.collab_orgs[i]
            }
            args["collab"] = orgs
        }
        
        if (params.format) {
            args["format"] = params.format
        }
        
        return args
    }
    
    function synchroniseReportOptions() {
        if (report_parameters.start) {
            $("input[name=start]").val(report_parameters.start)
        }
        else {
            $("input[name=start]").val("")
        }
        $("input[name=start]").trigger("change")
    }
    
    ///////////////////////////////////////////////////////////////////////////
    
    ///////////////////////////////////////////////////////////////////////////
    
    // actually go and build the report
    
    function fetchReport() {
        var formattedParams = patchParameters({format: "json"})
        var args = getQueryArgs(formattedParams)
        
        // put up a report loading message
        reportLoading()
        
        // generate the report parameters first, so the user has something
        // to look at while the report is loading
        generateReportParameters()
        
        $.ajax({
            type : "GET",
            url: "/organisation/{{mainorg}}/collaboration",
            dataType: "json",
            data: args,
            success : generateReport
        })
        
        $('html, body').stop().animate({
            scrollTop: $("#report_parameters").offset().top
        }, 1500,'easeInOutExpo')
    }
    
    function generateReportParameters() {
        var parameters = ""
        if (report_parameters.collab_orgs.length > 0) {
            parameters = "<h2>showing collaborations with "
            for (var i = 0; i < report_parameters.collab_orgs.length; i++) {
                var org = report_parameters.collab_orgs[i]
                if (i > 0) {
                    parameters += ", "
                }
                parameters += org + " (<a href='" + getReportUrl({exclude_orgs: [org]}) + "' class='reporturl' data-exclude-orgs='" + org + "'>X</a>)"
            }
            parameters += "</h2>"
        }
        
        if (report_parameters.funder) {
            parameters += "<h2>showing work funded by " + report_parameters.funder + " (<a href='" + getReportUrl({exclude_funder : true}) + "' class='reporturl' data-exclude-funder='true'>X</a>)</h2>"
        }
        
        if (report_parameters.collab_orgs.length === 0 && report_parameters.funder === undefined) {
            parameters += "<h2>showing all collaborations</h2>"
        }
        
        $("#report_parameters").html(parameters)
    }
    
    function generateReport(report) {
        
        var rows = report.rows
        var summary = ""
        if (rows.length > 0) {
            var plural = report.count > 0 ? "s" : ""
            summary = "<h2>" + (report.facets.collaborators.terms.length - 1) + " collaborators " +
                        "over " + report.count + " project" + plural + " " +
                        "totalling £" + report.facets.value_stats.formatted_total + " in funding</h2>"
        }
        else {
            summary = "<h2>No results</h2>"
        }
        
        var desc = "<p>This report provides you with one row per project per collaborator (which is any organisation which was the Lead Research Organisaton, Fellow, " +
                    "Principal Investigator or Co-Investigator).  This means each project will appear multiple times, and you will " +
                    "see each collaborator appear once per project.</p>" +
                    "<p>The <strong>total project funding</strong> shown is the amount the project as a whole was funded, and not the incomes for the individual " +
                    "collaborators on the project</p>"
        
        var csv = '<div class="row-fluid"> \
                <div class="span12" style="text-align: right"><a href="' + getReportUrl({format : "csv"}) + '">download as csv</a></div> \
            </div>'
            
        var table = '<table id="collaborations" class="tablesorter"> \
                <thead> \
                    <tr> \
                        <th>Collaborator</th> \
                        <th>Project Title</th> \
                        <th>Number of Project Collaborators</th> \
                        <th>Total Project Funding</th> \
                        <th>Funder</th> \
                        <th>Award Ref</th> \
                        <th>Project Start Date</th> \
                        <th>Project End Date</th> \
                    </tr> \
                </thead> \
                <tbody>'
        for (var j = 0; j < report.rows.length; j++) {
            row = report.rows[j]
            table += "<tr>"
            table += "<td><a data-add-orgs='" + row.collaborator + "' class='reporturl' href='" + getReportUrl({add_orgs : [row.collaborator]}) + "'>" + row.collaborator + "</a></td>"
            table += "<td><a href='/organisation/project/" + row.pid + "?org={{ mainorg }}'>" + row.projectTitle + "</a></td>"
            table += "<td>" + row.collaborationSize + "</td>"
            table += "<td>£" + row.formattedProjectValue + "</td>"
            table += "<td><a class='reporturl' href='" + getReportUrl({add_funder : row.funder}) + "' data-add-funder='" + row.funder + "'>" + row.funder + "</a></td>"
            table += "<td>" + row.awardRef + "</td>"
            table += "<td>" + row.formattedStartDate + "</td>"
            table += "<td>" + row.formattedEndDate + "</td>"
            table += "</tr>"
        }
        
        if (report.rows.length === 0) {
            table += "<tr><td colspan='8'>Your report parameters did not yield any collaborations</td></tr>"
        }
        
        table += "</tbody></table>"
        
        // now we need to generate the pull-down list facets for collaborating organisations and funders
        var frag = '<option value="">Add a collaborator ...</option>'
        for (var i = 0; i < report.facets.collaborators.terms.length; i++) {
            var term = report.facets.collaborators.terms[i]
            
            // skip any term that is the mainorg or already in the report
            if (term.term === report_parameters.mainorg || $.inArray(term.term, report_parameters.collab_orgs) > -1) {
                continue
            }
            
            var plural = term.count > 1 ? "s" : ""
            frag += "<option value='" + term.term + "'>" + term.term + 
                    "&nbsp;&mdash;&nbsp;" + term.count + " project" + plural + " totalling £" + 
                    term.formatted_total + "</option>"
        }
        $("select[name=collab]").html(frag)
        
        if (report_parameters.funder) {
            frag = '<option value="">Select a funder ...</option>'
            $("select[name=funder]").html(frag)
            $("select[name=funder]").attr("disabled", "disabled")
        }
        else {
            frag = '<option value="">Select a funder ...</option>'
            for (var i = 0; i < report.facets.funders.terms.length; i++) {
                var term = report.facets.funders.terms[i]
                var plural = term.count > 1 ? "s" : ""
                frag += "<option value='" + term.term + "'>" + term.term + 
                        "&nbsp;&mdash;&nbsp;" + term.count + " project" + plural + " totalling £" + 
                        term.formatted_total + "</option>"
            }
            $("select[name=funder]").html(frag)
            $("select[name=funder]").removeAttr("disabled")
        }
        
        $("#report_container").html(summary + desc + csv + table)
        $("#collaborations").tablesorter()
        
        // re-initialise the report url handling
        $(".reporturl").unbind()
        $(".reporturl").click(reportUrlClick)
    }
    
    ///////////////////////////////////////////////////////////////////
    
    ///////////////////////////////////////////////////////////////////
    // page initialisation
    
    $("#report_controls").hide()
    $("#report_parameters").hide()
    $("#report_container").hide()
    $(".datepicker").datepicker({
        inline: true,
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        yearRange: "-22:+0"
    });
    
    
    
    ///////////////////////////////////////////////////////////////////
    
}); 
</script>

<div class="row-fluid">
    <div class="span9">
        <h1>Collaboration Report for {{ mainorg }}</h1>
        <p>Collaboration reports show you organisations with whom {{mainorg}} collaborated on one or more projects.  The collaborating organisations on a project are defined as
        those who are the <strong>Lead Research Organisation</strong>, a <strong>Fellow</strong> on the project, or the host for the <strong>Principal Investigator</strong> or one or more of the <strong>Co-Investigators</strong>.</p>
    </div>
    <div class="span3">
        <button class="btn btn-primary" id="view_all_collaborations">View Full Collaboration Report &gt;</button>
    </div>
</div>

<div class="row-fluid" style="border-top: 1px solid #cccccc; margin-top: 15px; padding-top: 15px">
    <div class="span6">
        <h2>Top 
        <select name="collaboration_highlight_count" style="width: 50px; font-weight: bold">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
        </select>
        Collaborations</h2>
    </div>
    <div class="span6">
        <select name="highlight_collab">
            <option value="">Loading collaborators ...</option>
        </select>
        <button class="btn btn-primary" disabled="disabled" id="view_report_button_collab">View Collaboration Report &gt;</button>
    </div>
</div>

<div class="row-fluid" style="border-bottom: 1px dotted #cccccc; margin-bottom: 15px; padding-bottom: 15px;">
    <div class="span6" id="collaboration_highlight_table_container">
        <strong style="color: #cccccc; font-size: 150%; padding: 40px; margin-top: 40px;">Loading top collaborations ...</strong>
    </div>
    <div class="span6" id="collaboration_highlight_graph_container" style="padding-top: 40px">
        <div id="collab_graph_controls"></div>
        <svg></svg>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Funders of Collaborative Projects</h2>
    </div>
    <div class="span6">
        <select name="highlight_funder">
            <option value="">Loading funders ...</option>
        </select>
        <button class="btn btn-primary" disabled="disabled" id="view_report_button_funder">View Collaboration Report &gt;</button>
    </div>
</div>

<div class="row-fluid" style="border-bottom: 1px dotted #cccccc; margin-bottom: 15px; padding-bottom: 15px;">
    <div class="span6" id="funder_highlight_table_container">
        <strong style="color: #cccccc; font-size: 150%; padding: 40px">Loading funders ...</strong>
    </div>
    <div class="span6" id="funder_highlight_graph_container" style="padding-top: 40px">
        <div id="funder_graph_controls"></div>
        <svg></svg>
    </div>
</div>

<div class="row-fluid">
    <div id="report_parameters" class="span12"></div>
</div>

<div id="report_controls" class="row-fluid">
    <div class="span12">
        <div class="well">
            <h3>Report Options</h3>
            <form method="GET" action="">
                
                <p><strong>projects active between</strong></p>
                <div class="row-fluid" style="margin-bottom: 20px">
                    <div class="span8">
                        <input type="text" class="datepicker highlightonfilled" name="start" placeholder="from date (dd/mm/yyyy)" style="width: 150px"/>&nbsp;&nbsp;and&nbsp;&nbsp; 
                        <input type="text" class="datepicker highlightonfilled" name="end" placeholder="to date (dd/mm/yyyy)" style="width: 150px">&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" id="clear_dates">Clear Dates</button>
                    </div>
                    <div class="span4">
                        <select name="date_shortcut">
                            <option value="">or select a date period ...</option>
                            <option value="calendar_year">this calendar year</option>
                            <option value="tax_year">UK corporation tax year</option>
                            <option value="academic_year">this academic year</option>
                        </select>
                    </div>
                </div>
                
                {#
                <!-- date selector -->
                <p>Projects active between: <input type="text" class="datepicker" name="start" placeholder="enter date (dd/mm/yyyy)"/> and 
                <input type="text" class="datepicker" name="end" placeholder="enter date (dd/mm/yyyy)"></p>
                #}
                
                <!-- project value selector -->
                <p>Projects with a funded value between: <strong>£</strong>&nbsp;<input type="text" class="highlightonfilled" name="lower" placeholder="lower value" style="width: 100px"> and 
                <strong>£</strong>&nbsp;<input type="text" name="upper" class="highlightonfilled" placeholder="upper value" style="width: 100px"></p>
                
                <!-- collaborator facet -->
                <p>Collaborators: <select name="collab"> <!-- bit of a fudge, better option required, probably through real JS UI -->
                    <option value="">Add a collaborator ...</option>
                </select>
                
                <!-- funder facet -->
                Funder: <select name="funder">
                    <option value="">Select a funder ...</option>
                </select>
                </p>
                
                <button class="btn btn-primary" id="update_report_options">Update the report &gt;</button>
            </form>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div id="report_container" class="span12">
        <strong style="color: #cccccc; font-size: 150%; padding: 40px">Loading report...</strong>
    </div>
</div>
    
{% endblock %}
