{% extends "base.html" %}

{% block content %}

<h1>{{ project['project']['title'] }}</h1>

<h2>A project by {{ mainorg }}</h2>

<p><a href="/collab?org={{mainorg}}">return to {{mainorg}}'s collaboration report</a></p>

<div class="row-fluid">
    <div class="span8">
        <p>{{ project['project']['abstractText'] }}</p>
    </div>
    
    <div class="span4">
        <p><strong>funded by</strong> {{ project.project.fund.funder.name }}</p>
        <p><strong>funded amount</strong> £{{ project.project.fund.valuePounds }}</p>
        <p><strong>date range</strong> {{ project.project.fund.start }} - {{ project.project.fund.end }}</p>
        <p><strong>grant reference</strong> {{ project.project.grantReference }}</p>
    
        <h2>Collaborators</h2>
        {% for org in project.collaboratorOrganisation %}
        
            <p><strong>{{org.canonical}}</strong> - 
            {% if org.principalInvestigator %}
                <em>Principal Investigator</em>
            {% elif org.coInvestigator %}
                <em>Co-Investigator</em>
            {% elif org.fellow %}
                <em>Fellow</em>
            {% endif %}
            </p>
            
        {% endfor %}
    </div>
</div>

{% endblock %}
