{% extends "base.html" %}

{% block content %}

<style>

#chart svg {
  height: 500px;
}

</style>

<script type="text/javascript">

$(document).ready(function() {
    
    /////////////////////////////////////////////////////////////////////////
    
    // utility functions
    
    function randomID() {
        return Math.floor((Math.random()*1000000));
    }
    
    //////////////////////////////////////////////////////////////////////////
    
    //////////////////////////////////////////////////////////////////////////
    
    // data to load onload, as it were
    
    function loadFunders() {
        $.ajax({
            type : "GET",
            dataType: "json",
            url: "/organisation/{{mainorg}}/allfunders",
            success: function(data) {
                var frag = "<option value=''>Include All Funders</option>"
                for (var i = 0; i < data.length; i++) {
                    frag += "<option value='" + data[i].term + "'>" + data[i].term + "</option>"
                }
                $("select[name=funder]").html(frag).removeAttr("disabled")
            }
        })
    }
    loadFunders()
    
    function loadGrantCategories() {
        $.ajax({
            type : "GET",
            dataType: "json",
            url: "/organisation/{{mainorg}}/grantcategories",
            success: function(data) {
                var frag = "<option value=''>Include All Categories</option>"
                for (var i = 0; i < data.length; i++) {
                    frag += "<option value='" + data[i].term + "'>" + data[i].term + "</option>"
                }
                $("select[name=grantcategory]").html(frag).removeAttr("disabled")
            }
        })
    }
    loadGrantCategories()
    
    //////////////////////////////////////////////////////////////////////////
    
    //////////////////////////////////////////////////////////////////////////
    
    // functions for building the display
    
    // convert the data from the server into the data from which to construct a table
    function _getRowData(params) {
        var data = params.data ? params.data : []
        var field = params.value_field ? params.value_field : "count"
        var df = params.date_field ? params.date_field : "time"
    
        // get a full list of the dates and process the rows for each organisation
        var dates = []
        var orgs = []
        var row_sets = {}
        for (var org in data) {
            orgs.push(org)
            var org_rows = {}
            for (var i = 0; i < data[org].length; i++) {
                var p = data[org][i]
                if ($.inArray(p[df], dates) === -1) {
                    dates.push(p[df])
                }
                org_rows[p[df]] = p[field]
            }
            row_sets[org] = org_rows
        }
        
        // for each date (sorted) create a row with the relevant data from each org
        dates.sort(function(a,b){return a - b})
        orgs.sort()
        rows = []
        for (var i = 0; i < dates.length; i++) {
            row = []
            row.push(dates[i])
            for (var j = 0; j < orgs.length; j++) {
                if (dates[i] in row_sets[orgs[j]]) {
                    row.push(row_sets[orgs[j]][dates[i]])
                }
                else {
                    row.push(0)
                }
            }
            rows.push(row)
        }
        
        return {
            "rows" : rows,
            "dates" : dates,
            "orgs" : orgs
        }
    }
    
    function _getTable(params) {
        var orgs = params.orgs
        var rows = params.rows
        var value_formatter = params.value_formatter
        var date_formatter = params.date_formatter
        var table = "<table id='report_table'><thead><th>Date</th>"
        for (var i = 0; i < orgs.length; i++) {
            table += "<th>" + orgs[i] + "</th>"
        }
        table += "</thead><tbody>"
        for (var i = 0; i < rows.length; i++) {
            table += "<tr>"
            for (var j = 0; j < rows[i].length; j++) {
                var val = ""
                if (j === 0) { // this is the date field
                    val = date_formatter ? date_formatter(rows[i][j]) : rows[i][j]
                }
                else {
                    val = value_formatter && j > 0 ? value_formatter(rows[i][j]) : rows[i][j]
                }
                table += "<td>" + val + "</td>"
            }
            table += "</tr>"
        }
        table += "</tbody></table>"
        return table;
    }
    
    function doGraph(params) {
        var orgs = params.orgs
        var rows = params.rows
        var date_formatter = params.date_formatter
        
        var values = {}
        for (var i = 0; i < orgs.length; i++) {
            values[orgs[i]] = []
        }
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i]
            var date = date_formatter(row[0], true)
            for (var j = 1; j < row.length; j++) {
                var val = row[j]
                var org = orgs[j-1]
                values[org].push({x : date, y: val})
            }
        }
        
        var data = []
        for (var org in values) {
            data.push({key: org, values : values[org]})
        }
        
        nv.addGraph(function() {
            var chart = nv.models.multiBarChart()
                .margin({top: 30, right: 100, bottom: 50, left: 100});

            chart.yAxis
                .tickFormat(d3.format(',.0f'));

            d3.select('#chart svg')
              .datum(data)
              .transition().duration(500).call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    }
    
    //////////////////////////////////////////////////////////////
    
    //////////////////////////////////////////////////////////////
    
    // functions to build the different kinds of reports
    
    function numProjectsReport(benchmark) {
        // get the report data out of the benchmark response
        var data = benchmark["report"];
        
        // calculate all the row data
        var row_data = _getRowData({data:data, value_field:"count"})
        
        // generate the HTML table
        var table = _getTable({
                orgs: row_data.orgs, 
                rows: row_data.rows,
                date_formatter : dateFunctions[benchmark["parameters"]["granularity"]]
            })
        
        // generate the graph
        doGraph({
            orgs: row_data.orgs,
            rows: row_data.rows,
            date_formatter : dateFunctions[benchmark["parameters"]["granularity"]]
        })
        
        var header = "<h2>comparing number of projects with " + (row_data.orgs.length - 1) + " other organisations/groups over " + row_data.dates.length + " time periods</h2>"
        
        var description = "<p>This report shows the number of projects each organisation/group was involved in (through the PI, Co-I, or as the Lead Research " +
                            "Organisation or a Fellow) which <strong>started</strong> during the time period.</p>"
        
        return {
            header : header,
            table : table,
            description : description
        }
    }
    
    function awardValueReport(benchmark) {
        // get the report data out of the benchmark response
        var data = benchmark["report"];
        
        // calculate all the row data
        var row_data = _getRowData({data:data, value_field:"total"})
        
        // generate the HTML table
        var table = _getTable({
                orgs: row_data.orgs,
                rows: row_data.rows, 
                value_formatter: function(data) {
                    return "£" + data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                },
                date_formatter : dateFunctions[benchmark["parameters"]["granularity"]]
            })
        
        // generate the graph
        doGraph({
            orgs: row_data.orgs,
            rows: row_data.rows,
            date_formatter : dateFunctions[benchmark["parameters"]["granularity"]]
        })
        
        var header = "<h2>comparing award values with " + (row_data.orgs.length - 1) + " other organisations/groups over " + row_data.dates.length + " time periods</h2>"
        
        var description = "<p>This report shows the sum of all amounts awarded to projects each organisation/group was involved in (through the PI, Co-I, or as the Lead " +
                            "Research Organisation or a Fellow) which <strong>started</strong> during the time period.  It <strong>does not</strong> show " +
                            "exactly what share of that money was actually received or when that money was actually transferred from the funder to the organisation.</p>"
        
        return {
            header : header,
            table : table,
            description : description
        }
    }
    
    function publicationReport(benchmark) {
        // get the report data out of the benchmark response
        var data = benchmark["report"];
        
        // calculate all the row data
        var row_data = _getRowData({data:data, value_field:"count"})
        
        // generate the HTML table
        var table = _getTable({
                orgs: row_data.orgs,
                rows: row_data.rows,
                date_formatter : dateFunctions[benchmark["parameters"]["granularity"]]
            })
        
        // generate the graph
        doGraph({
            orgs: row_data.orgs,
            rows: row_data.rows,
            date_formatter : dateFunctions[benchmark["parameters"]["granularity"]]
        })
        
        var header = "<h2>comparing number of publications with " + (row_data.orgs.length - 1) + " other organisations/groups over " + row_data.dates.length + " time periods</h2>"
        
        var description = "<p>This report shows the number of publications issued by projects each organisation/group was involed in (through the PI, Co-I, or as the " + 
                            "Lead Research Organisation or a Fellow) that were <strong>published</strong> during the time period.  The exact relationship of the " +
                            "members of the organisation/group to the publication is not specified.</p>"
        
        return {
            header : header,
            table : table,
            description : description
        }
    }
    
    var reportFunctions = {
        "num_projects" : numProjectsReport,
        "award_value" : awardValueReport,
        "publications" : publicationReport
    }
    
    ////////////////////////////////////////////////////////////////
    
    var dateFunctions = {
        "month" : function(millis) { return $.datepicker.formatDate("mm-yy", new Date(millis)) },
        "quarter" : function(millis, shortform) {
                        var d = new Date(millis)
                        var year = d.getFullYear()
                        var month = d.getMonth()
                        var q = ""
                        if (shortform) {
                            q = month < 3 ? "Q1" : month < 6 ? "Q2" : month < 9 ? "Q3" : "Q4" // month is 0 indexed
                        }
                        else {
                            q = month < 3 ? "Q1 (Jan - Mar)" : month < 6 ? "Q2 (Apr - Jun)" : month < 9 ? "Q3 (Jul - Sept)" : "Q4 (Oct - Dec)" // month is 0 indexed
                        }
                        return year + " " + q
                    },
        "year" : function(millis) { return $.datepicker.formatDate("yy", new Date(millis)) }
    }
    
    function getCsvUrl() {
        var obj = getReportOptions()
        return "/organisation/{{mainorg}}/benchmarking.csv?obj=" + encodeURIComponent(JSON.stringify(obj));
    }
    
    function generateReport(benchmark) {
        
        // find the report function and call it
        var fn = reportFunctions[benchmark["parameters"]["type"]]
        if (fn) {
            var report = fn(benchmark)
            var frag = report.header + report.description
            var csv_url = getCsvUrl()
            
            frag += '<div class="row-fluid" id="alternatives">' +
                        '<div class="span12" style="text-align: right"><a href="' + csv_url + '" id="reporturl" data-format="csv">download as csv</a></div>' +
                    '</div>'
            
            // frag += report.table
            
            $("#report_intro").html(frag)
            $("#tabular_report").html(report.table)
            $("#report_table").tablesorter()
        }
    }
    
    $("#num_projects").change(function() {
        if (!$(this).attr("checked")) { return }
        $("#range_intro").html("For projects that start between")
    });
    
    $("#award_value").change(function() {
        if (!$(this).attr("checked")) { return }
        $("#range_intro").html("For projects that start between")
    });
    
    $("#publications").change(function() {
        if (!$(this).attr("checked")) { return }
        $("#range_intro").html("For publications published between")
    });
    
    $(".datepicker").datepicker({
        inline: true,
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        yearRange: "-22:+0"
    });
    
    function getReportOptions() {
        
        var obj = {};
        
        // get the standard report parameters
        obj["mainorg"] = "{{mainorg}}";
        obj["type"] = $("input[name=report_type]:checked").val();
        obj["granularity"] = $("select[name=granularity]").val();
        var start = $("input[name=start]").val();
        if (start && start !== "") {
            obj["start"] = start;
        }
        var end = $("input[name=end]").val();
        if (end && end !== "") {
            obj["end"] = end;
        }
        var funder = $("select[name=funder]").val()
        if (funder && funder !== "") {
            obj["funder"] = funder
        }
        var cat = $("select[name=grantcategory]").val()
        if (cat && cat !== "") {
            obj["grantcategory"] = cat
        }
        
        // are we only looking for projects where the org is the lead?
        var leadonly = $("input[name=leadro]").is(":checked")
        if (leadonly) {
            obj["leadonly"] = true
        }
        
        // get the comparison information for organisations
        obj["compare_org"] = []
        if ($("input[name=main_org]").is(":checked")) {
            obj["compare_org"].push("{{mainorg}}")
        }
        $("span.org_record").each(function(i, e) {
            var org = unescape($(e).attr("data-org"))
            obj["compare_org"].push(org)
        })
        
        // comparison information for groups
        obj["compare_groups"] = {}
        $(".compare_to_group").each(function(i, e) {
            var id = $(e).attr("data-id")
            var gname = $("input[name=group_name_" + id + "]").val()
            if (gname && gname !== "")
            {
                obj["compare_groups"][gname]  = []
                $(e).find("span.pers_record").each(function(i, e) {
                    var pers = unescape($(e).attr("data-pers"))
                    obj["compare_groups"][gname].push(pers)
                })
            }
        })
        // alert(JSON.stringify(obj))
        return obj
    }
    
    function generateUI() {
        var obj = getReportOptions()
        $.ajax({
            type: "POST",
            url: "/organisation/{{mainorg}}/benchmarking",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(obj),
            success : generateReport
        })
    }
    
    $("#generate").click(generateUI)
    
    function compareToForm(event) {
        event.preventDefault();
        $("#org_compare").html(
            '<div class="row-fluid" id="org_compare" style="padding: 10px 0px 10px 0px">' +
                '<div class="span5" id="compare_to_org">' +
                    '<h4>Choose organisations to compare to</h4>' +
                    '<input type="text" name="compare_to" id="compare_to" style="width: 80%">&nbsp;' +
                    '<button id="add_compare_org" class="btn btn-success">Add &gt;&gt;</button>' +
                '</div>' +
                ' <div class="span5" id="comparing_to_list">' +
                    '<h4>Selected organisations</h4>' +
                '</div>' +
                '<div class="span2">' +
                    '<button id="comparing_to_cancel" class="btn btn-danger">Remove</button>' +
                '</div>' +
            '</div>'
        );
        
        $("#comparing_to_cancel").click(function(event) {
            event.preventDefault()
            $("#org_compare").html('<a href="#" id="org_compare_link">compare other organisations</a>')
            $("#org_compare_link").click(compareToForm)
        });
        
        $("#compare_to").select2({
            minimumInputLength: 3,
            placeholder: "select an organisation to compare yourself with",
            query: function (query) {
                $.ajax({
                    type : "GET",
                    data : {q : query.term},
                    dataType: "json",
                    url: "/organisation",
                    success: function(resp) {
                        var data = {results: []}
                        for (var i = 0; i < resp.length; i++) {
                            data.results.push({id : resp[i].term, text: resp[i].term + " - " + resp[i].count + " projects"})
                        }
                        query.callback(data);
                    }
                })
            }
        });
        
        $("#add_compare_org").click(function() {
            var org = $("#compare_to").val()
            var id = randomID()
            // var esc = $("<div></div>").text(org).html()
            var record = "<span class='org_record' style='padding-right: 5px;' id='" + id + "' data-org='" + escape(org) + "'>" + 
                        org + "&nbsp;(<a href='#' class='remove_org' data-id='" + id + "'>x</a>)</span>"
            $("#comparing_to_list").append(record)
            
            // now re-bind the click function to the remove_org stuff
            $(".remove_org").unbind("click")
            $(".remove_org").click(function (event) {
                event.preventDefault()
                var id = $(this).attr("data-id")
                $("span[id=" + id + "]").remove()
            })
        });
    }
    
    $("#org_compare").html('<a href="#" id="org_compare_link">compare other organisations</a>')
    $("#org_compare_link").click(compareToForm)
    
    
    function groupForm(event) {
        event.preventDefault();
        $("#compare_to_group_container").show()
        
        var id = randomID()
        $("#compare_to_group_container").append(
            '<div class="row-fluid compare_to_group" data-id="' + id + '" id="compare_to_group_' + id + '" style="padding: 10px 0px 10px 0px; border-top: 1px solid #cccccc">' +
                '<div class="span5">' +
                    '<h4>Give this group a name</h4>' +
                    '<input data-id="' + id + '" type="text" name="group_name_' + id + '" placeholder="Group name (e.g. {{mainorg}} Archaeology Group)" style="width: 100%"><br>' +
                    '<h4>Choose people to group</h4>' +
                    '<input type="text" name="select_person" id="select_person_' + id + '" style="width: 80%">&nbsp;' +
                    '<button id="add_person_' + id + '" class="btn btn-success" data-id="' + id + '">Add &gt;&gt;</button>' +
                '</div>' +
                '<div class="span5" id="comparing_to_group_list_' + id + '">' +
                    '<h4>Selected people</h4>' +
                '</div>' +
                '<div class="span2">' +
                    '<button id="group_cancel_' + id + '" class="btn btn-danger" data-id="' + id + '">Remove Group</button>' +
                '</div>' +
            '</div>'
        );
        
        $("#group_cancel_" + id).click(function(event) {
            event.preventDefault()
            var theid = $(this).attr("data-id") // might look weird, since the id is above, but something about closures ...
            $("#compare_to_group_" + theid).remove()
            if ($("#compare_to_group_container").children().length === 0) {
                $("#compare_to_group_container").hide()
            }
        });
        
        $("#select_person_" + id).select2({
            minimumInputLength: 3,
            placeholder: "select a person for this group",
            query: function (query) {
                //var internal = $("input[name=internal]").is(":checked") // FIXME: removed for the time being, since index cannot currently support
                var url = "/person"
                //if (internal) {
                //    url = "/organisation/{{mainorg}}/person"
                //}
                $.ajax({
                    type : "GET",
                    data : {q : query.term},
                    dataType: "json",
                    url: url,
                    success: function(resp) {
                        var data = {results: []}
                        for (var i = 0; i < resp.length; i++) {
                            data.results.push({id : resp[i].term, text: resp[i].term})
                        }
                        query.callback(data);
                    }
                })
            }
        });
        
        $("#add_person_" + id).click(function() {
            var clickedid = $(this).attr("data-id") // because of closure, I think
            var pers = $("#select_person_" + clickedid).val()
            var pid = randomID()
            var record = "<span class='pers_record' style='padding-right: 5px;' id='pers_" + pid + "' data-pers='" + escape(pers) + "'>" + 
                        pers + "&nbsp;(<a href='#' class='remove_pers' data-id='" + pid + "'>x</a>)</span>"
            $("#comparing_to_group_list_" + clickedid).append(record)
            
            // now re-bind the click function to the remove_org stuff
            $(".remove_pers").unbind("click")
            $(".remove_pers").click(function (event) {
                event.preventDefault()
                var theid = $(this).attr("data-id")
                $("#pers_" + theid).remove()
            })
        });
    }
    
    $("#compare_to_group_container").hide()
    $("#create_group_link").click(groupForm)
    
    ///////////////////////////////////////////////////////////////////////////////
    
    // report options form handling
    
    $("#clear_dates").click(function(event) {
        event.preventDefault()
        $("input[name=start]").val("")
        $("input[name=start]").trigger("change")
        $("input[name=end]").val("")
        $("input[name=end]").trigger("change")
    })
    
    $(".highlightonfilled").change(function() {
        if ($(this).val() !== "") {
            $(this).css("border", "2px solid #348C49")
        }
        else {
            $(this).css("border", "1px solid #CCC")
        }
    })
    
    $("input[name=start]").change(function() {
        if ($(this).val() === "") {
            $("input[name=end]").datepicker("option", "defaultDate", 0)
        }
        else {
            var val = $(this).val()
            
            // get the 3 interesting dates: the date in the start box,
            // the date today, and the date 1 year after the start box
            var start = $.datepicker.parseDate("dd/mm/yy", val)
            var now = new Date()
            var future = new Date(start.getTime())
            future.setYear(future.getFullYear() + 1)
        
            var end = undefined
            if (now < future) {
                end = now
            }
            else {
                end = future
            }
            
            $("input[name=end]").datepicker("option", "defaultDate", end)
        }
    })
    
    $("select[name=date_shortcut]").change(function(event) {
        var val = $(this).val()
        if (val === "") {
            return
        }
        var now = new Date()
        if (val === "calendar_year") {
            now.setDate(1)
            now.setMonth(0) // month - 1 because of stupid zero indexing
        }
        else if (val === "academic_year") {
            var ay = new Date(now.getFullYear(), "08", "01") // month - 1 because of stupid zero indexing
            if (now < ay) {
                ay.setYear(ay.getFullYear() - 1)
            }
            now = ay
        }
        else if (val === "tax_year") {
            var fy = new Date(now.getFullYear(), "03", "01") // month - 1 because of stupid zero indexing
            if (now < fy) {
                fy.setYear(fy.getFullYear() - 1)
            }
            now = fy
        }
        var val = $.datepicker.formatDate("dd/mm/yy", now)
        $("input[name=start]").val(val)
        $("input[name=start]").trigger("change")
    })
    
});

</script>

<h1>Benchmarking Report for <a href="/organisation/{{ mainorg }}">{{ mainorg }}</a></h1>

<div class="row-fluid">
    <div class="span12"><div class="well">
    
        <h3>Report Options</h3>
        
        <p>Report on: <input type="radio" name="report_type" value="num_projects" checked="checked" id="num_projects">&nbsp;number of projects awarded&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="report_type" value="award_value" id="award_value">&nbsp;total amount awarded&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="report_type" value="publications" id="publications">&nbsp;number of publications</p>
        
        
        <div class="row-fluid" style="margin-bottom: 20px">
            <div class="span8">
                <span id="range_intro">For projects that start between</span>
                <input type="text" class="datepicker highlightonfilled" name="start" value="{% if start %}{{start}}{% endif %}" placeholder="from date (dd/mm/yyyy)" style="width: 150px"/>&nbsp;&nbsp;and&nbsp;&nbsp; 
                <input type="text" class="datepicker highlightonfilled" name="end" value="{% if end %}{{end}}{% endif %}" placeholder="to date (dd/mm/yyyy)" style="width: 150px">&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" id="clear_dates">Clear Dates</button>
            </div>
            <div class="span4">
                <select name="date_shortcut">
                    <option value="">or select a date period ...</option>
                    <option value="calendar_year">this calendar year</option>
                    <option value="tax_year">UK corporation tax year</option>
                    <option value="academic_year">this academic year</option>
                </select>
            </div>
        </div>
        
        <p>shown
        <select name="granularity">
            <option value="month">by month</option>
            <option value="quarter" selected="selected">by quarters</option>
            <option value="year">by year</option>
        </select></p>
        
        <div class="row-fluid">
        
            <div class="span6">
                
                <p>Limit to funder: <select name="funder" disabled="disabled">
                    <option value="">Include All Funders</option>
                </select></p>
            </div>
            
            <div class="span6">
            
                <p>Limit to grant category: <select name="grantcategory" disabled="disabled">
                    <option value="">Include All Categories</option>
                </select></p>
            
            </div>
        
        </div>
    
    </div></div>
</div>

<div class="row-fluid">
    <div class="span12"><div class="well">
        <h3>Comparison Options</h3>
        
        <div class="row-fluid">
            <div class="span6">
                <p><input type="checkbox" value="main_org" name="main_org" checked="checked">&nbsp;Add {{mainorg}} as a whole to the report</p>
            </div>
            <div class="span6">
                <p><input type="checkbox" name="leadro" value="leadro">&nbsp;only include results where an organisation is project lead</p>
            </div>
        </div>
        
        <div class="row-fluid" id="org_compare" style="padding: 10px 0px 10px 0px"></div>
        
        <div class="row-fluid" id="compare_to_group_container" style="padding: 10px 0px 10px 0px"></div>
        
        <div class="row-fluid" id="add_group_box" style="padding: 10px 0px 10px 0px"><a href="#" id="create_group_link">create a group of people to benchmark</a></div>
        
        <div class="row-fluid">
            <div class="span10">&nbsp;</div>
            <div class="span2">
                <button class="btn btn-primary" id="generate">Generate the report &gt;</button>
            </div>
        </div>
        
    </div></div>
</div>

<div id="report_intro"></div>
<div id="chart"><svg></svg></div>
<div id="tabular_report"></div>

{% endblock %}
