{% extends "base.html" %}

{% block content %}

<style type='text/css'>
g.nv-series {
    cursor: pointer
}
</style>

    <script type="text/javascript">
$(document).ready(function() {

    /////////////////////////////////////////////////////////////////////////
    
    // collaborations bar chart functions
    
    function doGraph(params) {
        var data = params.data
        var limit = params.limit ? params.limit : data.length
        var label_field = params.label_field
        var value_field = params.value_field
        var name = params["name"]
        var selector = params.svg_selector
        var colour = params.colour
        
        var datums = []
        var bars = {"key" : name, "color" : colour, "values" : []}
        
        for (var i = 0; i < data.length && i < limit; i++) {
            var point = {}
            point["label"] = data[i][label_field]
            point["value"] = data[i][value_field]
            bars.values.push(point)
        }
        datums.push(bars)
        
        var height = (28 * limit) + 42 + 43
        $(selector).css("height", height + "px")
        
        // generate the graph
        nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
              .x(function(d) { return d.label })
              .y(function(d) { return d.value })
              .margin({top: 30, right: 40, bottom: 50, left: 175})
              .showValues(false)
              .tooltips(true)
              .showControls(false);

            chart.yAxis
              .tickFormat(d3.format(',.0f'));

            d3.select(selector)
              .datum(datums)
              .transition().duration(500)
              .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    }
    
    function generateTopCollaboratorsGraph(data, limit) {
        // generate the default graph
        doGraph({
            data: data, 
            limit: limit, 
            label_field : "term", 
            value_field: "total", 
            name : "Collaboration Funding",
            svg_selector : "#collaboration_highlight_graph_container svg",
            colour : "#6C3BFF"
        })
    }
    
    // generate the top list of collaborators
    function topCollaborators(count) {
        // we always start by getting the collaboration definition and the range (which we set to the default 4, and current)
        var cd = ["leadro", "principal_investigator", "co_investigator", "fellow"]
        var from = $.datepicker.formatDate("yy-mm-dd", new Date())
        
        // build the query object
        var obj = {
            "count" : count, 
            "collaboration_definition": cd.join(","), 
            "order" : "funding"
        };
        if (from) {
            obj["start"] = from
        }
        
        $.ajax({
            type: "GET",
            url: "/organisation/{{org.name}}/collaboration/top",
            dataType: "json",
            data: obj,
            success : generateCollaboratorGraphClosure(count)
        })
    }
    
    function generateCollaboratorGraphClosure(count) {
        return function(data) {
            generateTopCollaboratorsGraph(data, count)
        }
    }
    
    // actually generate the collaborators list for the top 10
    topCollaborators(10)
    
    /////////////////////////////////////////////////////////////////////////
    
    // funding pie chart functions
    
    function doPie(params) {
        var data = params.data
        var label_field = params.label_field
        var value_field = params.value_field
        var selector = params.svg_selector
        var name = params["name"]
        
        var datums = []
        var pie = {"key" : name, "values" : []}
        
        for (var i = 0; i < data.length; i++) {
            var helping = {}
            helping["label"] = data[i][label_field]
            helping["value"] = data[i][value_field]
            pie.values.push(helping)
        }
        datums.push(pie)
        
        $(selector).css("height", "365px")
        
        // generate the pie
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)
                .labelThreshold(.05)
                .donut(true);

            d3.select(selector)
                .datum(datums)
                .transition().duration(500)
                .call(chart);
    
            return chart;
        });
        
    }
    
    function fundingBreakdown() {
        var start = $.datepicker.formatDate("yy-mm-dd", new Date())
        var obj = {"start" : start}
        $.ajax({
            type: "GET",
            url: "/organisation/{{org.name}}/funders",
            dataType: "json",
            data: obj,
            success : generateFundersChart
        })
    }
    
    function generateFundersChart(data) {
        // generate the default graph
        doPie({
            data: data, 
            label_field : "term", 
            value_field: "total", 
            svg_selector : "#funding_breakdown_container svg",
            name : "Funding Breakdown"
        })
    }
    
    // actually generate the funder pie chart
    fundingBreakdown()


    // name checker functions
    var storedname = "";
    var check = function(event) {
        event.preventDefault();
        var nm = $(this).text();
        $('#thanks').hide();
        $('.checker').hide();
        $('#checkpoint').show();
        $('#spellname').val(nm);
        $('#checklink').attr('href',nm);
        storedname = nm;
    };
    $('.checker').bind('click',check);

    var submitcheck = function(event) {
        event.preventDefault();
        $('#checkpoint').hide();
        $('#thanks').show();
    };
    $('#submitcheck').bind('click',submitcheck);

    var cancelcheck = function(event) {
        event.preventDefault();
        $('#checkpoint').hide();
        $('#thanks').hide();
        $('.checker').show();
    };
    $('#cancelcheck').bind('click',cancelcheck);

});
    </script>

    <div class="row">
        <div class="span6">
            <p class="lead" style="line-height:2em;"><span style="font-size:2em;font-weight:bold;">
            {{org.name}}</span> has <b>{{org.projects}}</b> projects, worth a total of 
            <b>£{{org.totalfunding}}</b>, involving <b>{{org.collaborators}}</b> collaborators</p>
            
            <p class="lead">Is this your organisation? If so, (coming soon) signup and login 
            to gain extra control, like updating the organisational logo and metadata, through 
            to generating and downloading customisable reports, correcting and updating project 
            information, uploading more projects, and more. <a href="/#contact">Contact us </a> 
            if you want to get in on it early.</p>
            
            <p class="lead">We know there are issues with the source data that we have used to bootstrap 
            this service, and we would love to make it better for you! Can you help?</p>
            
            <p class="lead">To start with, we are looking for incorrect organisation names. Below is a list of some 
            we found that are similar to <b>{{org.name}}</b>. Can you tell us more about them?</p>
            
            <div id="thanks" style="display:none;" class="alert alert-success">
            <p>Thanks! Your feedback has been stored. (Well, it will be, once this is not a demo...)</p>
            </div>
            
            <div id="checkpoint" style="display:none;" class="well">
            <p>Tell us about this organisation - change the spelling below if necessary.</p>
            <textarea id="spellname" style="width:100%"></textarea>
            <input type="checkbox" id="speltwrong"> it is spelt wrong<br>
            <input type="checkbox" id="sameas"> this is the same organisation as {{org.name}}<br>
            <input type="checkbox" id="subsidiary"> this is a department / subsidiary of {{org.name}}<br>
            <input type="checkbox" id="multiple"> there are multiple names in it<br>
            <input type="checkbox" id="other"> something else is wrong<br>
            <textarea id="message" style="width:100%;">tell us more, if you want, to let us know what you think the problem is.</textarea><br>
            <p>Not sure? <a target="_blank" id="checklink" href="/organisation/">Read more</a> about this organisation first.</p>
            <p>Still not sure? Don't worry, we won't change anything based on your feedback alone - 
            we will check it with what we hear from other people too.</p>
            <button class="btn" id="submitcheck">Submit your updates</button>
            <button class="btn" id="cancelcheck">Cancel</button>
            </div>
            
            {% for c in checklist %}
            <button class="checker btn" style="margin-right:5px;margin-bottom:5px;">{{c}}</button>
            {% endfor %}
            
        </div>

        <div class="span6">
            {% if org.logo != "" %}
            <!--<img src="{{org.logo}}" style="width:100%;margin-bottom:10px;">-->
            {% endif %}

            <div class="row-fluid thumbnail" style="margin-bottom:10px;">
            <div class="span12" id="funding_breakdown_container" style="padding-top: 10px">
                <svg></svg>
                <p style="text-align:center">Current breakdown in funding sources (click legend to enable/disable funders)</p>
            </div>
            </div>

            <div class="row-fluid thumbnail" style="margin-bottom:10px;">
            <div class="span12" id="collaboration_highlight_graph_container" style="padding-top: 10px">
                <svg></svg>
                <p style="text-align:center">Top collaborators by total current grant funding on collaborative projects</p>
            </div>
            </div>

        </div>
    </div>
    


{% endblock %}
